.modal {
    display: none;
    width: 40%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    padding:50px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow-y:auto;
    height:95%;
}
.modal-close {
    color: #333;
    display: block;
    font-size: 20px;
    position: fixed;
    z-index: 100;
    top:15px;
    right:15px;
}
.modal form{
    font-size:16px;
}
.modal form input{
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    height:36px;
    width: 300px;
}
.customer-info
,.customer-address
,.customer-order {
    border: solid 1px #dcdcdc;
    border-radius: 10px;
    position: relative;
    padding:20px;
    margin-bottom:20px;
}
.modal-form-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-info p
,.customer-address p
,.customer-order p {
    position: absolute;
    top:-8px;
    left:20px;
    font-weight: bold;
    background-color: #fff;
}

.customer-order {
    display: flex;
    flex-wrap: wrap;
}
.customer-order .modal-form-item{
    width: 50%;
    padding-left:10px;
    padding-right:10px;
}
.customer-order .modal-form-item input {
    width: 50px;
}

#submit-button{
    border: none;
    background-color: #1B2E5E;
    color:#fff;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 768px){
    .modal {
        width: 80%;
        padding:20px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .modal-close {
        top:5px;
        right:5px;
    }
    .modal-form-item {
        margin-top: 5px;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .modal form input{
        border: solid 1px #dcdcdc;
        border-radius: 5px;
        height:24px;
        width: 100%;
    }
    .modal form label {
        display: block;
    }
    .modal form select {
        width: 100%;
    }
    .customer-order {
        display: block;
    }
    .customer-order .modal-form-item{
        text-align: center;
        width: fit-content;
        margin:0 auto;
    }
}
